{% load static %}

<!DOCTYPE html>
<html>
<head>
	<script src="{% static 'jquery.js' %}"></script>
	<link rel="icon" href="{% static 'green.jpg' %}">
	<title>Play with our bot</title>
	<style media="screen">
		.all{
			text-align: center;
			margin: auto;
		}
		table{
			//margin: auto;
		}
		td{
			border: solid 2px Yellow;
			//border-collapse: collapse;
			background-color: Yellow;
			//margin: auto;
		}
		img{
			border-radius: 20px;
		}
		.uppertext{
			height: 150px;
			font-size: 50px;
			padding-top: 50px;
			background-color: Yellow;
			color: rgb(64,64,0);
			margin-bottom: 50px;
		}
		button{
			height: 50px;
			width: 200px;
			border-radius: 100px;
			border:  5px black solid;
			font-size: 25px;
		}
		#Restart{
			//margin-left: 5px;
			//margin-right: 80px;
		}
		#mini{
			//margin-top: 10px;
			//margin-left: 0px;
		}
	</style>
</head>
<body>
	<div class="all">
		<div class="uppertext">
			<strong>You vs Bot</strong><br>
			<button id = "Restart" type="button">Restart</button>
			<button id = "Swap" type="button">
				<img class = "mini" src="{% static 'blue.jpg' %}">
				Swap
				<img class = "mini" src="{% static 'red.png' %}">
			</button>
		</div>
		<table>
			{% for v in range3 %}
		<tr>
			{% for u in range3 %}
			<td id = 'tcell{{v}}{{u}}'>
				<img src="{% static 'blank.png' %}" alt = "blank">
			</td>
			{% endfor %}
		</tr>
			{% endfor %}
		</table>
	</div>
</body>
<script type="text/javascript">
	var win_b = $(window).width()
	$(".all").css("width",win_b*9/10+"px")
	var uppertext = $(".uppertext")
	uppertext.css("height",win_b*3/10+"px")
	uppertext.css("font-size",win_b/10+"px");
	uppertext.css("padding-top",win_b/10+"px");
	uppertext.css("margin-bottom",win_b/10+"px")
	var button = $("button")
	button.css("height",win_b/10+"px")
	button.css("width",win_b*2/5+"px")
	button.css("border-radius",win_b/10+"px")
	button.css("border-width",win_b/100+"px")
	button.css("font-size",win_b/20+"px")
	var mini = $(".mini")
	mini.css("height",win_b*6/100+"px")
	mini.css("width",win_b*6/100+"px")
	$("img").css("border-radius",win_b/25+"px")
	var td_img = $("td > img")
	td_img.css("height",win_b*3/10+"px")
	td_img.css("width",win_b*3/10+"px")
	var td = $("td")
	td.css("border-width",win_b/250+"px")
</script>
<script type="text/javascript">
	var s = true

	var l = document.querySelectorAll("td > img")
	var l2 = document.querySelectorAll("button > img")

	var blank = document.querySelector("td > img").src
	var blue = l2[0].src
	var red = l2[1].src

	var current = blue
	var opp = red

	function resrt(){
		for (var i = 0; i < l.length; i++) {
			if(l[i].src !== blank)
				l[i].src = blank
		}
		s = true
		$("td").css("borderColor","Yellow")
	}
	document.querySelector("#Restart").addEventListener("click",resrt)

	function swp(item){
		var temp = current
		current = opp
		opp = temp

		for (var i = 0; i < l2.length; i++) {
			//console.log(l2[i]);
			if(l2[i].src == blue)
				l2[i].src = red
			else if(l2[i].src == red)
				l2[i].src = blue
			//console.log(l2[i]);
		};

		for (var i = 0; i < l.length; i++){
			if(l[i].src === opp)
			{
				//console.log("this is l "+i+" "+l[i].src);
				l[i].src = current
				//console.log("change to l "+i+" "+l[i].src);
			}
			else if (l[i].src === current) {
				l[i].src = opp
			}
		};
	}
	document.querySelector("#Swap").addEventListener("click",swp)

	function makedata(){
		reqdata = "";
		function addcell(item){
			if(item.src === blank)
				reqdata += 0;
			else if(item.src === current)
				reqdata += 1;
			else if(item.src === opp)
				reqdata += 2;
		}
		l.forEach(addcell);
		return reqdata;
	}

	function check(strdata){
		p = false
		for (var i = 0; i < 3; i++) {
			m = ""
			for (var j = 0; j < 3; j++) {
				m += strdata[i*3+j]
			}
			if(m == "111" || m == "222"){
				p = true
				for(var k=0; k<3; k++){
					$("#tcell"+i+k).css("borderColor","black");
				}
				s = false;
				break
			}
		}
		if(!p){
			for (var i = 0; i < 3; i++) {
				m = ""
				for (var j = 0; j < 3; j++) {
					m += strdata[j*3+i]
				}
				if(m == "111" || m == "222"){
					p = true
					for(var k=0; k<3; k++){
						$("#tcell"+k+i).css("borderColor","black");
					}
					s = false;
					break
				}
			}
		}
		if(!p){
			m=""
			for (var i = 0; i < 3; i++) {
				m += strdata[i*4]
			}
			if(m == "111" || m == "222"){
				//console.log(m);
				p = true
				for (var i = 0; i < 3; i++) {
					$("#tcell"+i+i).css("borderColor","black");
					//console.log("tcell"+i+i);
				}
				s=false;
			}
		}
		if(!p){
			m=""
			for (var i = 0; i < 3; i++) {
				m += strdata[6-2*i]
			}
			if(m == "111" || m == "222"){
				p = true
				for (var i = 0; i < 3; i++) {
					$("#tcell"+(2-i)+i).css("borderColor","black");
				}
				s=false;
			}
		}
		return p;
	}

	function userturn(item){
		item.addEventListener("click",function(){
			if(item.src === blank && s )
			{
				s = false
				item.src = current;
				reqdata = makedata()
				if(!check(reqdata)){
					$.post("{% url 'channel' %}",
						{
							"data":reqdata,
							"csrfmiddlewaretoken":"{{csrf_token}}"
						},
						function(data, status){
							if(data.ok<9)
								l[data.ok].src = opp;
							s = true;
							check(makedata());
						})
				}
			}
		});
	};
	l.forEach(userturn);
	</script>
</html>
