{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Get a Room</title>
    <link rel="icon" href="{% static 'green.jpg' %}">
    <style media="screen">
      body{
        padding: auto;
        background-color: green;
        text-align: center;
      }
    </style>
  </head>
  <body onload="jsfun()">
    <a href="">
    	<img src="{% static 'refresh.jpg' %}" alt="refresh">
    </a>
  </body>
  <script src="{% static 'jquery.js' %}"></script>
  <script type="text/javascript">
    var win_h = $(window).height()
    var win_b = $(window).width()
    var image = $("img")
    var win
    if(win_b>win_h)
      win = win_h
    else
      win = win_b
    image.css("margin-top",(win_h-(win*3/5)*6/5)/2+"px")
    image.css("height",(win*3)/5+"px");
    image.css("width",(win*3)/5+"px");
    image.css("border-radius",(win*3)/50+"px")
  </script>
  <script type="text/javascript">
  var playlink = "{% url 'play' %}"
  function jsadd(){
    $.get("{% url 'roomchannel' %}",function(data){
      if(confirm("Room no '"+data.code+"' is ready for you\nWould you like to join it?"))
        window.location.href = playlink;
    })
  }
  function jsjoin(){
    var code = prompt("please enter the room you like to enter");
    $.post("{% url 'roomchannel' %}",{'code':code,"csrfmiddlewaretoken":"{{csrf_token}}"},function(data){
      if(data.protocol === 1){
        alert("Room "+code+" is already full\nPlease try getting a new room");
      }
      else if(data.protocol === 2){
        if(confirm("The room "+code+" is waiting for you with someone\nLike to join it ?"))
          window.location.href = playlink
      }
      else if(data.protocol === 3){
        if(confirm("The room "+code+" is ready \nBut there is no one\n(in case you were expecting somebody)"))
          window.location.href = playlink
      }
    })
  }

  function jsfun(){
    var ch = prompt("There are 2 options\n1.\tmake a new room\n2.\tjoin into a room\n(enter a numeric accordingly)");
    if(ch==1)
      jsadd();
    else if (ch==2)
      jsjoin();
    else if(ch!= null)
      alert("Wrong input!\nplease try again");
  }
  </script>
</html>
